<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${TITLE}</title>
  </head>
  <body>
    <h1>Tinpig User Name</h1>
    <p>${TINPIG_USER_NAME}</p>
    <h1>Tinpig User Email</h1>
    <p>${TINPIG_USER_EMAIL}</p>
    <h1>Tinpig Project Path</h1>
    <p>${TINPIG_PROJECT_PATH}</p>
    <h1>Tinpig Project Dir</h1>
    <p>${TINPIG_PROJECT_DIR}</p>
    <h1>Message</h1>
    <script type="text/javascript" src="${LIB_FOLDER_NAME}/${LIB_FILE_NAME}.js"></script>
    <script type="text/javascript" src="${SOURCE_FOLDER_NAME}/main.js"></script>
  </body>
</html>
